# Ignore Gradle project-specific cache directory
.gradle
.idea/
.javac
target/
pom.xml
.project
.iml
# Ignore Gradle project-specific cache directory
.gradle
.vscode-upload.json

# Ignore Gradle build output directory
build
.gradle/*
